<!DOCTYPE html>
<html>
	<head>
	    <title>Computing Society Project Portal: Sign Up Page</title>
		<link rel="stylesheet" type = "text/css" href ="styles/login.css"/>
		<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="scripts/main.js"></script>
	</head>

	<body>
		<div> 
			<img src="resources/uwi_cs.jpg" alt="computing society logo"/>
		</div>
		
		<div>
		<h1> Welcome to the UWI Mona Computing Society Project Portal</h1>
		</div>
		
		<div>
			<button id = "login" class="button">Login</button>
			<button id = "signup" class="button">Sign Up</button>
		</div>
		
		<div id = "logininfo"></div>
		
		<div class ="signbenefits">
			<h3> Join the community and : </h3>
			<ul>
				<li>solve problems with your fellow club members</li>
				<li>Only do tasks that you're interested in</li>
				<li>get real world coding experience and feedback from your clients</li>
			</ul>
		</div>
		
		<footer>
		<p> Free fun coding at your fingertips! Sign up today!</p>
		<a href =""> Contact Us</a>
		<a href =""> About Us</a>
		</footer>
	</body>
</html>