{% extends 'base.html' %}

{% block main %}

<div class="form-login" method="post">
    <h2>Sign Up</h2>
    <form action="{{ url_for('register') }}" method="post">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.first_name.label }}
        {{ form.first_name(class='form-control', placeholder="First Name") }}
      </div>
      <div class="form-group">
        {{ form.last_name.label }}
        {{ form.last_name(class='form-control', placeholder="Last Name") }}
      </div>
      <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class='form-control', placeholder="Username") }}
      </div>
      <div class="form-group">
        {{ form.acctype.label }}
        {{ form.acctype(class='form-control', placeholder="Account Type") }}
      </div>
      <div class="form-group">
        {{ form.special_interest_group.label }}
        {{ form.special_interest_group(class='form-control', placeholder="SIG") }}
      </div>
      <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class='form-control', placeholder="Password") }}
      </div>
      <button type="submit" name="submit" class="btn btn-primary btn-block">Register</button>
    </form>
  </div>
{% endblock %}

        
            Account Type: 
            <select name="acctype">
        		<option value ="leader">Project Leader</option>
        		<option value ="member">Club Member</option>
        	</select> <br />
        	First name: <input type = "text" name ="fname" required/> <br/>
        	Last name: <input type = "text" name ="lname" required/> <br/>
        	ID number: <input type = "text" name ="id_num" required/> <br/>
        	Email: <input type="text" name ="email" required> <br/>
        	Password: <input type ="password" name="password" required/> <br/>
        	Special Interest Group: 
        	<select name="sig">
        		<option value ="web">Web Development</option>
        		<option value ="robotics">Robotics</option>
        		<option value ="mobile">Mobile App Development</option>
        		<option value ="security">Security</option>
        	</select><br />
        	<input type="submit" name="signbtn" value="Sign Up"/>
        </form>
        </div>
    </body>
</html>