{% extends 'base.html' %}

{% block main %}

{% for req in requests %}
{% if session.sig in req.sig.lower() %}
    <hr/>
    <div>
        <strong>{{ req.tname}}</strong></strong> <br/>
        {{ req.uname }} <br/>
        <button onclick="accept('{{ req.rid }}')">Approve</button>
        <button onclick="reject('{{ req.rid }}')">Deny</button>
    </div>
    <hr/>
    <br/>
{% endif %}
{% endfor %}

<script type="text/javascript">
    function accept(rid){
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "POST", '/accept/'+rid, false );
        xmlHttp.send( null );
        window.location.href = "/home";
    }
    
    function reject(rid){
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.open( "POST", '/reject/'+rid, false );
        xmlHttp.send( null );
        window.location.href = "/home";
    }
</script>

{% endblock %}